

body{
	background-color: #FFFFFF;
}

#maintron{
	/**background-image: url(images/logo.png);
	background-repeat: no-repeat;**/
}

.navbar-brand{
	/*background-image: url(images/small_logo2.png);
	width:135px;
	height: 50px;
	background-color: white;*/
	/*background-image: url(images/small_logo.png);
	width: 115px;
	height: 50px;
	object-fit: contain;
	background-color: white;
	*/
}

#logo_home{
	background-image: url("images/ecclesiastes_tiny_logo2.png");
	background-repeat: no-repeat;
	width:85px;
}

.navbar{
	background-color: #394c85;
	
}

#navbar a{
	color:#FFFFFF;
}

#navbar a:hover{
	color:#FFFFFF;
}
.navbar-toggle{
	/*background-color: gray;*/
	border: none;
	color:#000;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}

#navbar ul.nav-custom-drop li a{
	color:#394c85;
}

#navbar ul.nav-custom-drop{
	color:red;
}


#navbar li.dropdown.open a.dropdown-toggle{

	color:#bf8032;
}

#navbar ul.nav-custom-drop li a:hover{
	color:#f1c066;
}

#navbar ul.dropdown-menu {
	background-color: #FFF;
}

#navbar li.active a{
	background-color: #f1c066;
}

.logo-small {
    /*color: #f4511e;*/
    color: #4c65b1;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

#homeImgRow{
	height: 375px;
	background-image: url(images/wheat-field.jpg);
	padding-top: 2%;
}

#homeImgRow p{
	font-size: 2em;
	font-weight: 400;
	z-index: 100;
	background-color: none;
	/*background-color: #000;
	opacity: 0.25;
    filter: alpha(opacity=50);*/ /* For IE8 and earlier */
}

.font-bg-block {
	background-color: black;
	opacity: 0.25;
    filter: alpha(opacity=50);
    z-index: 1;
}

.bg-grey {
    /*background-color: #f6f6f6;*/
    background-color: #f7f8fc;
}

.bg-darkblue{
	background-color: #394c85;
}

.bg-lightgreen{
	background-color: #68B0BA;
}

.bg-white{
	background-color: #FFF;
}

.col-headers{
	/*background-color: #4c65b1;
	color:white;*/
	color:#FFF;
	/*padding: 10px;*/
}

.footer{
	background-color: #394c85;
	color:white;
	height:125px;
	font-size: 1.12em;
	font-weight: 300;
	padding-top:45px;
	width:100%;
	margin:0;
}

.round-borders-sections{
	border-radius: 25px;
    border: 2px solid #f7f8fc;
    padding:2px;
}

.row-color-gold{
	background-color: #eac383; /*light version of active link color another is edbc6e*/
}

.row-color-darkPurple{
	background: #394c85;
}

.row-color-tan{
	background: #bf8032;
}

.row-color-white{
	background:#FFF;
}

.row-color-teal{
	background: #68b0b9;
}

.font-color-white{
	color:#FFF;
}

.font-color-teal{
	color:#68b0b9;
}

.font-color-darkPurple{
	color: #394c85;
}

.font-color-gray{
	color:#f7f8fc;
}

.cust-font-1{
	font-family: Arial, Helvetica, sans-serif;
}

#navbar .navbar-text{
	color:#FFF;
}

.captions-1{
	/*border: 2px solid #68b0b9;*/
	background-color:#394c85;
	font-size: 1em;
	font-weight: 400;
	color:#fff;
}

#contact_form input, select {
	width:100%;
	margin-bottom: 10px;
}

#contact_form label{
	width:100%;
	margin-bottom: 10px;
	
}

#contact_form textarea{

	padding:2px;
	width:100%;
	margin-bottom: 10px;

}
#contact_form input[type=submit]{
	margin-top:10px;
	margin-bottom: 10px;
}

#followup_form input, select {
	width:100%;
	margin-bottom: 10px;
}

#followup_form label{
	width:100%;
	margin-bottom: 10px;
	
}

#followup_form textarea{

	padding:2px;
	width:100%;
	margin-bottom: 10px;

}
#followup_form input[type=submit]{
	margin-top:10px;
	margin-bottom: 10px;
}